

.features-left {
    padding: 75px ;
    background-color: rgb(12, 169, 245);
}
.features-right {
    padding: 45px 75px ;
}


.features-left .fas{
    color: #0CA9F5;
    background-color: white;
}

.features-left .fas:hover{
    background-color: #0CA9F5;
    color: white;
    cursor: pointer;
}

.features-right .fas{
    background-color: #0CA9F5;
    color: white;
}

.features-right .fas:hover{
    color: #0CA9F5;
    background-color: white;
    cursor: pointer;
}

.texts p {
    line-height: 30px;
}



@media (min-width: 300px) and (max-width: 991px) {
    .features-left {
        padding: 35px ;
        border-radius: 5px;
    }
    .features-right {
        padding: 35px ;
    }
}
